extends layout

block content
  h1 Submit your signed Ballot


  hr

  form(method="post")
    label Election ID:
    input(id="eid" name="election" type="text")

    label Ballot:
    input(name="ballot" type="text")

    label Admin Signature:
    input(name="signature" type="text")

    button(type="submit") Submit Ballot

