extends layout

block content
  h1 Create Election
  form(method="post")
    label
        | Kerberos's that can vote: (comma separated)
    input(type="text" name="voters" style="width:300px")
    br
    button.button-primary(type="submit") Create Election
